#article {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
}

#article ul {
    display: grid;
    gap: 10px 20px;
}

.product {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
    gap: 20px;
    border: 1px solid rgb(139, 139, 139);
    align-items: center;
}

.product .infs-product {
    display: grid;
    gap: 10px 20px;
}

.product .img-product {
    width: 100px;
    height: 100px;
    display: grid;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.product .img-product.hamburger {
    background-image: url('../img/hamburger.png');
}

.product .img-product.dessert {
    background-image: url('../img/dessert.png');
}

.product .img-product.soda {
    background-image: url('../img/soda.png');
}

.product .description-product {
    font-size: 1.2rem;
    max-width: 400px;
}

.product .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .buttons .add-or-remove-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.product .buttons .add-or-remove-item p {
    padding: 5px 20px;
    background-color: #fff;
}

.product .buttons .add-or-remove-item input {
    padding: 10px;
    cursor: pointer;
    background-color: #FF214F;
    color: #fff;
}

.product .buttons .favorite {
    cursor: pointer;
}