.header-bg {
    height: 110px;
    width: 100%;
}

.header-back {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
}

.header-bg .header-back header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background-color: hsl(0, 100%, 50%);
    margin: 0 auto;
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    position: relative;
}

.header-bg .header-back header div {
    background-color: #FF214F;
    padding: 10px;
    border-radius: 50%;
}