/* .favorite {
    width: 22px;
    height: 22px;
    background-image: url('../../../asset/imgs/favorite.svg');
    -webkit-mask-image: url('../../../asset/imgs/favorite.svg');
    mask-image: url('../../../asset/imgs/favorite.svg');
    mask-size: cover;
    background-color: #757474;
} */