#article {
    display: grid;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#article > h1 {
    text-align: center;
    font-size: 2rem;
}

#food-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: orange;

}

#food-items li {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(211, 211, 211);
    display: grid;
    place-items: center;
    gap: 10px;
    cursor: pointer;
}