#article {
    display: grid;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#article > h1 {
    text-align: center;
    font-size: 2rem;
}

#food-items, #dessert-items, #drinks-items {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#food-items .item-food, #dessert-items .item-food, #drinks-items .item-food {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(139, 139, 139);
    display: grid;
    place-items: center;
    gap: 10px;
    cursor: pointer;
}

#food-items ul, #dessert-items ul, #drinks-items ul {
    padding: 10px;
    border: 1px solid rgb(139, 139, 139);
}

.favorite-box {
    background-color: #fff;
}

#food-items .favorite, #dessert-items .favorite, #drinks-items .favorite {
    background-color: #757474;
    background-image: url('../../imgs/favorite.svg');
    -webkit-mask-image: url('../../imgs/favorite.svg');
    mask-image: url('../../imgs/favorite.svg');
    mask-size: cover;
    border: 1px solid rgb(139, 139, 139);
    padding: 10px;
    display: grid;
}

#food-items .favorite.active {
    background-color: #FF214F;
    transition: all 0.3s;
} 

#food-items .item-food:hover, #dessert-items .item-food:hover, #drinks-items .item-food:hover {
    background-color: rgba(255, 0, 0,0.5);
}

#food-items .item-food p, #dessert-items .item-food p, #drinks-items .item-food p {
    height: 90px;
}

@media (max-width: 500px) {
    #food-items .item-food p, #dessert-items .item-food p, #drinks-items .item-food p {
        height: 150px;
    }    
}