#article {
    display: grid;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#article > h1 {
    text-align: center;
    font-size: 2rem;
}

#food-items, #dessert-items, #drinks-items {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#food-items li, #dessert-items li, #drinks-items li {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(139, 139, 139);
    display: grid;
    place-items: center;
    gap: 10px;
    cursor: pointer;
}

#food-items li p, #dessert-items li p {
    height: 90px;
}