#section {
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 0px 20px;
    background-color: #fff;
}

#section h1 {
    font-size: 2rem;
}

#categories {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#categories li {
    display: flex;
    align-items: center;
    background-color: #FF214F;
    border-radius: 50px;
    cursor: pointer;
}

#categories li a {
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    color: #fff;
    font-size: 1.2rem;
}

@media (max-width: 400px) {
    #categories {
        gap: 10px;
    }
}