.bg-footer {
    height: 90px;
    width: 100%;
}

#menu-app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

#footer {
    display: flex;
    align-items: end;
    background-color: #fff;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#footer #others {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#footer #others:hover::after {
    content:'';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 4px;
    background-color: #FF214F;
}

#footer #others:hover #others-icon {
    fill: #FF214F;
    transition: 0.5s;
}

#footer #search {
    width: 70px;
    height: 70px;
    background-color: #FF214F;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
}

#footer #search-now {
    background-color: fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 90%;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: 0.5s;
    top: 1000px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 10px;
    display: grid;
}

#footer #search-now.active {
    top: -40px;
}

#footer #favorites {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#footer #favorites:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 4px;
    background-color: #FF214F;
}

#footer #favorites:hover #favorites-icon {
    fill: #FF214F;
    transition: 0.5s;
}