.bg-footer {
    max-width: 1200px;
    margin: 0 auto;
}

#footer {
    display: flex;
    align-items: baseline;
    background-color: red;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}

#footer #others {
    width: 40px;
    height: 40px;
    background-color: orange;
}

#footer #search {
    width: 70px;
    height: 70px;
    background-color: tomato;
}

#footer #favorites {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
}