.header-bg {
    height: 110px;
    width: 100%;
}

#header-categories {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
}

#box-yourItemAddedInBag {
    background-color: #a4fa9d;
    padding: 20px;
    position: fixed;
    right: 20px;
    bottom: 6rem;
    width: 200px;
    text-align: center;
    z-index: 3;
    color: #000;
    opacity: 0;
}

#box-yourItemAddedInBag.active {
    opacity: 0.9;
    transition: 0.5s opacity;
}

#header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
}

header #user {
    padding: 10px;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    cursor: pointer;
    justify-self: start;
}

header #user-box {
    position: absolute;
    display: grid;
    grid-template-columns: auto 1fr;
    top: 92px;
    left:-1000px;
    align-items: center;
    gap: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: 0.5s;
    visibility: hidden;
}

header #user-box.active {
    left: 10px;
    visibility: visible;
}

header #user-box #img-user-box {
    background-color: rgb(219, 219, 219);
    padding: 20px;
    border-radius: 50%;
}

header #user-box #infs #buttons {
    display: flex;
    gap: 10px;
    justify-content: end;
}

header #user-box #infs .user-buttons {
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

header #user-box #infs #exit-button {
    background-color: #FF214F;
    color: #fff;
}

header #shopping-bag {
    padding: 10px;
    background-color: #FF214F;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
    position: relative;
    justify-self: end;
}

header #shopping-bag #num-items-in-your-bag {
    position: absolute;
    background-color: hsl(46, 100%, 50%);
    padding: 5px;
    top: 0;
    right: -5px;
    font-weight: bold;
    display: none;
}

header #shopping-bag #num-items-in-your-bag.active {
    display: block;
}

header #shopping-bag-box {
    background-color: #fff;
    position: absolute;
    top: 92px;
    right: -1000px;
    padding: 10px;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    visibility: hidden;
    display: grid;
    gap: 10px;
}

header #shopping-bag-box h1 {
    font-size: 1.7rem;
}

header #shopping-bag-box #bag-empty {
    width: 100%;
    max-width: 500px;
    padding: 20px 10px;
    text-align: center;
    font-size: 1.2rem;
}

header #shopping-bag-box.active {
    right: 0;
    visibility: visible;
}

header #shopping-bag-box div {
    position: relative;
}

@media (max-width: 500px) {
    header #shopping-bag-box div {
        display: grid;
    }
}

header #header-close-button {
    display: grid;
}

header #shopping-bag-box #close-button {
    /* background-color: #FF214F; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 2px;
    right: 20px;
    cursor: pointer;
    display: grid;
    justify-self: end;
}

header #shopping-bag-box ul {
    display: grid;
    gap: 10px;
    max-height: 236px;
    overflow-y: auto;
}

header #shopping-bag-box li {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid rgb(139, 139, 139);
    padding: 10px;
    user-select: none;
}

header #shopping-bag-box ul li .add-or-remove-item {
    display: flex;
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    align-items: center;
}

@media (max-width: 500px) {
    header #shopping-bag-box ul li .add-or-remove-item {
        position: relative;
        grid-row: 3;
    }
}

header #shopping-bag-box ul li .add-or-remove-item p{
    padding: 5px 20px;
}

header #shopping-bag-box ul li .add-or-remove-item input{
    padding: 10px;
    cursor: pointer;
    background-color: #FF214F;
    color: #fff;
}

header #shopping-bag-box li img {
    height: 91px;
    object-fit: cover;
}

header #shopping-bag #price {
    font-size: 1.2rem;
    color: #fff;
}

header .button-shopping-bag {
    background-color: #757474;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    pointer-events: none;
}

header .button-shopping-bag.active {
    background-color:#FF214F;
    cursor: pointer;
    pointer-events: auto;
}